<script>
  import { useAuthStore } from "@/stores/authStore.js";
  import { mapState } from 'pinia'
  import router from "@/router";
  import GroceryOffers from "@/components/GroceryOffers.vue";

  export default {
      components: {GroceryOffers},
    data() {
      return {
      }
    },

    computed: {
      ...mapState(useAuthStore, ['profile'])
    }
  }
</script>

<template>
  <main>
      <div class="content">
        <div class="welcome">
          <img id="logo" src="../components/icons/logo.png" alt="Logo">
          <h1>Velkommen, {{ this.profile.name }}!</h1>
        </div>

        <div class="tips">
          <img id="tips-img" src="../components/icons/tips.png" alt="Logo">
          <p id="tips-text">Frys ned rester, så kan du ta opp en porsjon senere når du trenger et raskt måltid, i stedet for å kaste restene.</p>
        </div>

        <div class="grocery">
          <grocery-offers></grocery-offers>

        </div>


      </div>
  </main>
</template>

<style scoped>
  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 300px;
  margin-top: 40px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

h1 {
  text-align: center;
}


#logo {
  width: 75px;
  height: 75px;
}

#tips-img {
  width: 55px;
  height: 55px;
  margin: auto 0;
}


.tips {
  display:flex;
  padding: 10px;
  min-height: 75px;
  max-height: 250px;
  background-color: rgb(232, 232, 232);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1.5em;


}

#tips-text {
  overflow: hidden;
  padding-left: 10px;
}

@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

</style>
