<script>
  import { API } from '@/util/API.js';
  import router from '@/router/index.js';

  export default {
    data() {
        return {
            welcomemsg: "Velkommen tilbake",
            email: "",
            password: "",
            errormsg: "",
        }
    },
    methods: {
      login() {
        API.login({email: this.email, password: this.password}).then(() => {
                    router.push("/selectProfile");
                })
                .catch(() => {
                    this.errormsg = "Kunne ikke logge inn! Sjekk brukernavn og passord, og prøv igjen";
                });
      }
    }
  }

</script>

<template>
     <main>
        <div class="login-container">
            <img id="logo" src="../components/icons/logo.png" alt="Logo">
            <h1>{{ welcomemsg }}</h1>
          <form @submit.prevent>
            <div class="field-container">
              <label for="email">E-post</label>
              <input id="email-input" name="email" type="text" v-model="email" />
            </div>
            
            <div class="field-container">
              <label for="password">Passord</label>
              <input id="password-input" name="password" type="password" v-model="password" />
            </div>

            <p id="error-message">{{ errormsg }}</p>
            <button @click="login" id="login-button">Logg inn</button>
          </form>

            <p><RouterLink to="/registerAccount">Ny bruker</RouterLink> - <a href="#">Glemt passord?</a></p>
        </div>
    </main>
</template>

<style lang="scss" scoped>

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 300px;
  margin-top: 40px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.field-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#error-message {
  text-align: center;
  width: 80%;

}

input {
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}

label {
  font-size: 18px;
}

#login-button {
  background-color: base.$green;
  color: #FFFFFF;
  border-radius: 5px;
  border-style: none;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

#login-button:hover {
  background-color: base.$light-green;

}

#logo {
  width: 100px;
  height: 100px;
}

@media (min-width: 1024px) {
  .login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
