<template>
    <h1 id="msg">404</h1>
    <h2>Oida, denne siden finnes ikke</h2>
    <RouterLink to="/">Gå tilbake til forsiden</RouterLink>
</template>

<script>
export default {
    name: "MissingPage"
}
</script>

<style scoped>

</style>