<script>
import router from '@/router/index.js';

export default {
    methods: {
        sendToHomePage() {
            router.push("/");
        }
    }
}
</script>

<template>
    <main>
        <h1>PIN</h1>
        <div class="pincode-container">
            <input id="pincode-field" type="tel" maxlength="4" placeholder="0000"/>
            <button id="pincode-button" type="button" @click="sendToHomePage">OK</button>
        </div>
    </main>
</template>

<style scoped lang="scss">
h1 {
    font-size: 50px;
}
main {
    padding: 50px 10px;
    text-align: center;
}

.pincode-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    input {
        border-radius: 0;
        border: 1px solid black;
        height: 50px;
        width: 100px;
        margin: 0 5px;
        font-size: 38px;
        padding: 5px;
    }
}


button {
    border-radius: 0;
    border: 1px solid black;
    width: 50px;
}
</style>