<script>

import {API} from "@/util/API";

export default {
    name: "RecipeView",
    data() {
        return {
            recipe: {},
            id: this.$route.params.id,
            title: "",
            description: "",
            time: "",
            ingredients: [],
            instructions: "",
            recipeScalar: 1
        }
    },
    methods: {
        async loadData() {
            await API.getRecipe(this.id)
                .then((recipe) => {
                  this.title = recipe.title;
                  this.description = recipe.description;
                  this.time = recipe.time;
                  this.ingredients = recipe.ingredient;
                  this.instructions = recipe.instructions;
                })
        },
        adjustRecipeAmount(event) {
            this.recipeScalar = event.target.value;
        }
    },
    async mounted() {
        await this.loadData();
    }
}

</script>

<template>
  <main>
      <h1>{{this.title}}</h1><br>
      <p>{{this.description}}</p><br>
      <div class="ingredient-container">
          <div class="ingredients">
            <h2>Ingredienser</h2>
              <input class="recipe-scalar" type="number" min="1" max="20" placeholder="1" value="1" @change="event => adjustRecipeAmount(event)">
              <ul>
                  <li v-for="ingredient in this.ingredients">{{ ingredient.item.name }} {{ ingredient.amount.quantity*this.recipeScalar }} {{ingredient.amount.unit}}</li>
              </ul>
          </div>
      </div>
      <div class="instructions">
          <h2>Instruksjoner</h2>
          {{this.instructions}}
      </div>

  </main>

</template>

<style scoped lang="scss">
@media(min-width: base.$desktop-min) {
  main {
    padding-top: 45px !important;
  }
}

main {
  padding: 20px 10px;
    h1 {
        padding: 0;
    }
    .ingredient-container {
        .ingredients {
            margin-bottom: 20px;
            h2 {
                display: inline-block;
                margin-right: 20px;
                vertical-align: middle;

            }
            .recipe-scalar {
                display: inline-block;
                height: 40px;
                width: 60px;
                font-size: 16px;
                padding: 5px;
                vertical-align: middle;
            }
            ul {
                margin-top: 10px;
            }
        }

    }


}


</style>