<template>
    <div class="content">
        <img id="logo" src="../components/icons/logo.png" alt="Logo">
            <h1>Registrer konto</h1>
          <form @submit.prevent>
            <div class="field-container">
              <label for="name">Navn</label>
              <input id="input" name="name" type="text" v-model="name" />
            </div>

            <div class="field-container">
              <label for="email">E-post</label>
              <input id="email-input" name="email" type="email" v-model="email" />
            </div>
            
            <div class="field-container">
              <label for="password">Passord</label>
              <input id="password-input" name="password" type="password" v-model="password" />
            </div>

            <p id="error-message">{{ errormsg }}</p>
            <button @click="register" id="register-button">Registrer</button>
          </form>
    </div>
</template>

<script>
  import { API } from '@/util/API.js';
  import router from '@/router/index.js';


    export default {
        data() {
            return {
                email: "",
                name: "",
                password: "",
                errormsg: ""
            }
        },
        methods: {
            async register() {
                if (this.name === "" || this.password === "") {
                    this.errormsg = "Vennligst fyll inn alle feltene"
                }
                else {
                    await API.addAccount({firstname: this.name, email: this.email, password: this.password}).then(() => {
                    router.push("/selectProfile")
                })
                .catch(() => {
                    throw new Error()
                });
                }


            }
        }
    }
</script>

<style scoped>
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        min-width: 300px;
        margin-top: 40px;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .field-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    input {
        height: 40px;
        font-size: 16px;
        padding-left: 10px;
    }

    label {
        font-size: 18px;
    }

    #register-button {
        background-color: #00663C;
        color: #FFFFFF;
        border-radius: 5px;
        border-style: none;
        width: 150px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
        margin: 20px;
    }

    #register-button:hover {
        background-color: #04be80;
    }

    #logo {
        width: 100px;
        height: 100px;
    }

    @media (min-width: 1024px) {
    .login-container {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


</style>