<script>
    import { API } from '@/util/API.js';
    import { useAuthStore } from "@/stores/authStore.js";
    import { mapState } from 'pinia'
    import router from '../router';

    export default {
        data() {
            return {

            }
        },

        computed: {
            ...mapState(useAuthStore, ['profiles'])
        },

        methods: {
            // Sends the user into the home page logged in as the profile they clicked on
            selectProfile(id) {
                API.selectProfile(id);
            },
            
            // Sends the user into the "register profile" view 
            addProfile() {
                router.push('/newProfile')
            },

            // Receives all profiles from this user
            async getProfiles() {
                await API.getProfiles()
                    .catch(() => new Error());
            }
        },

        mounted() {
            this.getProfiles();
        }
    }

</script>


<template>
    <div class="container">
        <h1>Hvem bruker appen?</h1>

        <div class="icons">
            <div v-for="profile in this.profiles"  @click=selectProfile(profile.id) class="icon" >

                <img v-if="profile.profileImageUrl == ''" src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="profile image">
                <img v-else :src=profile.profileImageUrl alt="profile image">
                <button id="selectProfileBtn" @click=selectProfile(profile.id)><p>{{profile.name}}</p></button>
            </div>
            
        </div>

        <div class="add">
            <button class="add-button" @click="addProfile"><span class="plus-sign"></span></button>
        </div>
    </div>
</template>


<style scoped lang="scss">

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 20px;
        min-width: 296px;
        margin-top: 40px;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        max-width: 550px;

    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
    }

    .icon:hover {
        background-color: base.$grey;
        border-radius: 10%;
    }

    img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        padding: 10px;
    }

    #selectProfileBtn {
        background-color: transparent;
        border:none;
        font-size: 1em;
        border-radius: 0;

    }

</style>