<template>
    <main>
        <div class="container">
            <h1 v-if="this.items.suggestionList.length === 0">Handleliste</h1>

            <ItemSearch v-if="this.showAddMenu && this.profile.restricted"
                @itemsAdded="(ingredient) => updateSuggestionList(ingredient)" :addsToFridge="false"></ItemSearch>
            <ItemSearch v-else-if="this.showAddMenu && !this.profile.restricted"
                @itemsAdded="(ingredient) => updateShoppingList(ingredient)" :addsToFridge="false"></ItemSearch>

            <div class="list">
                <div class="items">

                    <div v-if="items.suggestionList.length > 0" class="suggestions-wrapper">
                        <h2>Forslag</h2>
                        <div v-for="(item, index) in items.suggestionList" :key="index" :item="item" class="item">

                            <div class="item-wrapper">
                                <div class="item-label">
                                    <label v-if="item.amount.quantity === 1" for="checkbox" class="checkbox-label">{{
                                        item.item.name }}</label>
                                    <label v-else for="checkbox" class="checkbox-label">{{ item.amount.quantity }}x {{
                                        item.item.name }}</label>
                                </div>
                            </div>

                            <div class="buttons">
                                <button v-if="!this.profile.restricted" class="accept-button"
                                    @click="acceptItem(item.ingredient_id)">Godta</button>
                                <button class="decline-button" @click="declineItem(item.ingredient_id)">Avslå</button>
                            </div>

                        </div>
                    </div>


                    <h2 v-if="this.items.ingredientList.length > 0 && this.items.suggestionList.length > 0">Handleliste</h2>
                    <div v-for="(item, index) in items.ingredientList" :key="index" :item="item" class="item">

                        <div class="item-wrapper">
                            <div v-if="!this.profile.restricted" class="check">
                                <input v-model="item.isChecked" @change="sortList" class="checkbox" type="checkbox">
                            </div>

                            <div class="item-label">
                                <label v-if="item.amount.quantity === 1" for="checkbox" class="checkbox-label">{{ item.item.name
                                }}</label>
                                <label v-else for="checkbox" class="checkbox-label">{{ item.amount.quantity }}x {{
                                    item.item.name }}</label>
                            </div>
                        </div>

                        <div v-if="!this.profile.restricted" class="buttons">
                            <img id="delete-button" @click="deleteItem(item.ingredient_id)" src="../components/icons/trash.svg" alt="delete">
                        </div>

                    </div>
                </div>

            </div>
            <div class="add">
                <button :class="{ rotate: this.showAddMenu }" class="add-button" @click="addItem"><span class="plus-sign"></span></button>
            </div>
        </div>
    </main>
</template>

<script>
import { API } from '../util/API.js';
import { mapState } from 'pinia';
import { useAuthStore } from "@/stores/authStore.js";
import ItemSearch from '../components/ItemSearch.vue'


export default {
    data() {
        return {
            testItems: [{ itemName: "banan", amount: 2, isChecked: false }, { itemName: "ost", amount: 1, isChecked: false }, { itemName: "eple", amount: 4, isChecked: false }, { itemName: "brus", amount: 1, isChecked: false }],
            ingredients: [],
            showAddMenu: false,
        }
    },
    components: {
        ItemSearch
    },
    methods: {
        sortList() {
            this.items.ingredientList.sort((a, b) => a.isChecked - b.isChecked)
        },
        async getShoppingList() {
            await API.getShoppingList()
                .catch(err => { console.log(err) })
        },
        async addItem() {
            this.showAddMenu = !this.showAddMenu;
            console.log(this.profile)
            window.scrollTo({ top: 0, behavior: 'smooth' });

        },
        async acceptItem(id) {
            await API.acceptSuggestion(id)
                .then((response) => {
                    this.items.suggestionList.forEach((ingredient, index) => {
                        if (ingredient.ingredient_id === response.ingredient_id) {
                            this.items.suggestionList.splice(index, 1);
                        }
                    })
                    this.updateShoppingList(response)
                })

        },
        async declineItem(id) {
            await API.declineSuggestion(id)
                .then((response) => {
                    this.items.suggestionList.forEach((ingredient, index) => {
                        if (ingredient.ingredient_id === response.ingredient_id) {
                            this.items.suggestionList.splice(index, 1);
                        }
                    })
                })
        },
        async deleteItem(id) {
            await API.deleteItemFromShoppingList(id)
                .then(() => {
                    this.items.ingredientList.forEach((ingredient, index) => {
                        if (ingredient.ingredient_id === id) {
                            this.items.ingredientList.splice(index, 1);
                        }
                    })
                })

        },
        addIsCheckedToIngredient() {
            this.items.ingredientList.forEach(ingredient => {
                if (!ingredient.hasOwnProperty('isChecked')) {
                    ingredient.isChecked = false;
                }
            })
        },
        updateShoppingList(ingredient) {
            ingredient.isChecked = false;
            this.items.ingredientList.push(ingredient);
            this.showAddMenu = false;
        },
        updateSuggestionList(ingredient) {
            ingredient.isChecked = false;
            this.items.suggestionList.push(ingredient)
            this.showAddMenu = false;
        },
        sendIngredientsToFridge() {
            const boughtIngredients = []

            this.items.ingredientList.forEach(ingredient => {
                if (ingredient.isChecked) {
                    boughtIngredients.push(ingredient)
                }
            })
            API.addIngredientsToFridge(boughtIngredients)
        }

    },
    computed: {
        ...mapState(useAuthStore, ['items', 'profile'])
    },
    async mounted() {
        await this.getShoppingList()
            .then(() => {
                this.items.ingredientList.forEach(item => {
                    item.isChecked = false
                })
            })
    },
    beforeRouteLeave (to, from) {
        this.sendIngredientsToFridge()
  }
}
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    max-width: 550px;
    height: 100%;
}

h1 {

  width:100%;
  padding-left: 0.5em;

}



.rotate {
    -webkit-transform: rotate(45deg);
}

.accept-button {
    border-radius: 10px;
    background-color: base.$light-green;
    color: black;
    font-weight: bold;
    border-style: none;
    height: 27px;
    padding: 0 10px;
}

.accept-button:hover {
    background-color: base.$light-green-hover;
}

.decline-button:hover {
    background-color: base.$grey-hover ;
}

.decline-button {
    border-radius: 10px;
    background-color: base.$grey;
    color: base.$indigo;
    font-weight: bold;
    border-style: none;
    height: 27px;
    padding: 0 10px;
    margin: 0 auto;

}

.buttons {
    display: flex;
    gap: 5px;
    align-self: center;
    cursor: pointer;
}

.buttons:hover {
    background-color: base.$light-grey;
    border-radius: 10px;
}


h2 {
    padding: 5px 15px
}



.add {
    position: fixed;
    bottom: 75px;
    right: 10px;
    float: right;
}

.header {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 15px;
    width: 100%;
    border-bottom: 1px solid base.$grey;
}

.list {
    min-width: 300px;
    min-height: 100vh;
    height: 100%;
    /* background-color: #F3F4F9; */
    width: 100%;
    // padding: 15px;
    // border-radius: 10px;
}

.items {
    padding-bottom: 170px;
}

.suggestions-wrapper {
    border-bottom: 1px solid base.$grey;
    border-width: 100%;
    padding-bottom: 15px;


}

.item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    background-color: white;
    padding: 5px 15px;
    padding: 0.5em 1em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.item:not(:first-child) {
    border-radius: 0px;
}

.item:last-child {
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// .item:not(:last-child)::after {
//     content: '';
//     /* this works like a border-width */
//     height: 1px;
//     /* percentage of border shown */
//     width: 70%;
//     /* the color of border */
//     background: base.$grey; 
//     position: absolute;
//     bottom: 0;
//     margin: 0 auto;
//     left: 0;
//     /* horizontal centering */
//     right: 0;
// }

.item-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ccc;

}

input[type="checkbox"]:checked {
    background-color: base.$light-green;
}

input[type="checkbox"]:checked:after {
    content: "\2713";
    /* Unicode code for checkmark symbol */
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-size: 20px;
}

img {
    width: 30px;
    height: 30px;
    padding: 5px;

    max-height: 100%;
    max-width: 100%;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    align-self: flex-end;
}</style>