<script>
import {API} from "@/util/API";
import RecipeCard from '../components/RecipeCard.vue';

export default {
    components: { RecipeCard },
    data() {
        return {
            weekMenu: {},
            numberOfPeople: 1
        }
    },
    methods: {
        adjustNumberOfPeople(event) {
            this.numberOfPeople = event.target.value;
        },
        generateWeekMenu() {
            API.generateWeekMenu(this.numberOfPeople).then((menu) => {
                this.weekMenu = menu;
                this.recipes = menu.dayMenus;
            })
        },
        loadWeekMenu() {
            API.getWeekMenu()
                .then((weekmenu) => {
                    this.weekMenu = weekmenu;
                    this.recipes = this.weekMenu.dayMenus;
                })
        }
    },
    mounted() {
        this.loadWeekMenu()
    }
}
</script>

<template>
    <div class="weekmenu-container">
        <h1>Ukemeny</h1>
        <div class="generate-weekmenu">
            <label for="number-of-people">Antall personer:</label>
            <input id="number-of-people" type="number" min="1" max="20" value="1" @change="event => adjustNumberOfPeople(event)">
            <button type="button" @click="generateWeekMenu">Generer ukemeny</button>
        </div>

        <div class="weekmenu-recipes">
            <RecipeCard v-for="recipe in this.weekMenu.dayMenus" :recipe=recipe></RecipeCard>
        </div>
    </div>
</template>

<style scoped lang="scss">

    .generate-weekmenu {
        padding: 20px 0;
        label {
            margin-right: 10px;
        }
        #number-of-people {
            width: 55px;
            height: 30px;
            margin-right: 5px;
        }
        button {
            height: 35px;
            border-radius: 0;
            cursor: pointer;
            color: black;
            border: 1px solid black;
            padding: .5rem 1rem;
            border: 2px base.$green solid;
            background-color: base.$light-green;
        }
    }
    .weekmenu-container {
        padding: 0 10px 60px;
    }
    .weekmenu-recipes {
        display: flex;
        flex-direction: column;
    }


</style>