<template>
  <div v-if="visible" id="popup">
      <div id="exitBtn" @click="close"><button :aria-label="'close menu'">X</button></div>

      <h2>{{ this.fridgeItem.item.name }}</h2>
      <p id="sliderDisplay">{{sliderValue}} {{this.fridgeItem.amount.unit}}</p>
      <label for="slider">Mengde tatt av varen:</label>

      <input type = "range" id = "slider" name = "slider" min="0" :max = "this.maxValue" :step = this.getStep v-model="sliderValue">

      <div id="buttons">
          <button @click="logFoodAsDiscarded">Ble kastet</button>
          <button id="eatenBtn" @click="logFoodAsEaten" >Ble spist</button>
      </div>
      <div v-if="isExpired" id = "itemHasExpiredMessage">
          <h2>Varen har gått ut på dato</h2>
          <p>Se, lukt, smak : Hvis varen fortsatt ser fin ut, kan du forlenge utløpsdatoen med 5 dager</p>
          <button id= "eatenBtn" @click="extendExpiration">Utsett utløpsdato med 5 dager</button>
      </div>
  </div>
</template>

<script>
import {Icon} from "@iconify/vue";
import fridgeItem from "@/components/FridgeItem.vue";
import {API} from "@/util/API";

export default {
    name: "EatFridgeItemModal",
  components: {Icon},
  props: {
      fridgeItem: {
        type: Object,
        required: false
      },
  },
  data() {
     return {
         visible:true,
         sliderValue: 0,
     }
  },
  methods:{
      close(){
        this.$emit('closeModal',this);
      },
      logFoodAsEaten(){
          const fridgeAction = "CONSUMED";
          this.updateFridgeItem(fridgeAction)
      },
      logFoodAsDiscarded(){
          const fridgeAction = "DISCARDED";
          this.updateFridgeItem(fridgeAction)
      },
      updateFridgeItem(fridgeAction){
          const ingredientId = this.fridgeItem.ingredient_id;

          const request = {
              action: fridgeAction,
              ingredients: {
                  [ingredientId]:{
                      "quantity": this.sliderValue,
                      "unit": this.fridgeItem.amount.unit
                  }
              }
          };

          API.updateFridge(request)

              .catch((error)=>
                  console.log(error)
              );
          this.close();
      },
      extendExpiration(){
          const id = this.fridgeItem.ingredient_id;
          const today = new Date();
          const fiveDays = new Date();
          fiveDays.setDate(today.getDate()+5);

          API.changeExpirationOfIngredient({"ingredientId": id, "newExpDate":fiveDays}).catch((error)=> {
              console.log("could not change date")
          })
          this.close();
      }
  },
  computed:{
    redIconColor() {
      return '#EE6D6D';
    },
    redIconSize() {
      return '40px';
    },
      maxValue(){
        return this.fridgeItem.amount.quantity;
      },
      isExpired(){
          let date = this.fridgeItem.exp_date;
          const expirationDate = new Date(date);

          const parsedDate = Date.parse(expirationDate)
          const today = new Date();

          const ms = parsedDate-today;
          const numOfDays = Math.ceil(ms/(86400000))

          return numOfDays < 1 ;
      },
      getStep(){
        const itemQuantity = this.fridgeItem.amount.quantity.toString();
        const isDecimal = itemQuantity.split('.').length === 2 || itemQuantity==='1';

        switch(isDecimal){
            case true:
                return '0.1';
            case false:
                return '1';
        }
        return 0.1;
      },
  }
}
</script>
<style scoped lang="scss">
#popup {
  background-color: base.$white;
  color: black;
  width: 90%;
  padding:2em;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

@media (min-width: 800px){
  #popup {
    width: 40%;
  }
}

#buttons {
  justify-content: space-between;
  display: flex;
    width: 100%;
  margin: 1em;
  margin-top: 3em;
}

#exitBtn{
  width:100%;
  display: flex;
  justify-content: right;

}


#exitBtn button {
    width:2em;
    height:2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

button {
  margin:.1em;
  font-weight: bolder;
    width: 50%;
    padding:1em;
  background-color: base.$red;
  color:black;
    border:none;
}
button:hover {
    background-color: base.$red-hover;
    cursor:pointer;
}
#eatenBtn:hover{
    background-color: base.$green-hover;
}
#eatenBtn {
  background-color: base.$green;
  color: white;
}

#itemHasExpiredMessage  {
    border: 3px dashed base.$red;
    padding: 1em;
}

#itemHasExpiredMessage button {
    padding: 1em;
    width:100%;
    border:none;
    border-radius:5px;
}

input:hover{
    cursor:pointer;
}

#exitBtn:hover{
    cursor:pointer;
}
</style>