<template>
    <h2>Konto-innstillinger</h2>
    <form @submit.prevent="submit">
        <p class="infoText">OBS: Kontakt admin dersom du ønsker å oppdatere epost</p><br>

        <p id="emailField">Epost: {{this.account.email}}</p><br>

        <label for="fname">Endre fornavn</label><br>
        <input type="text" id="fname" v-model="updatedAccount.upFirstname"><br>

        <label for="password">Endre passord</label><br>
        <input type="password" id="password" v-model="updatedAccount.upPassword">

        <div class="submit">
            <button class="greenBtn submitBtn" @click="saveAccountSettings">Lagre profilendringer</button>
        </div>
        <p id="alert">{{alertMsg}}</p>
    </form>

    <div id="logout">
        <p class="infoText">Logger deg ut fra din SmartMat-konto</p>
        <button id="logOut" class ="redBtn" @click="logOut">Logg ut</button>
    </div>


    <br>
    <br>
    

    <form  @submit.prevent="submit" id = "dangerZone">
        <h1>🔺FARESONE🔺</h1>
        <p class="infoText">Ved å trykke på knappen nedenfor, vil du slette din SmartMat-konto</p>
        <input type="checkbox" id="deletionCheckbox" v-model="deletionConfirmation">
        <label for="deletionCheckbox"> Jeg bekrefter jeg skjønner dette, og ønsker å slette kontoen min SmartMat-konto for alltid.</label><br>
        <div class="submit">
            <button class="darkRedBtn" id ="delAccount" @click="deleteAccount">SLETT KONTO</button>

        </div>
        <p id="alert">{{delAlertMsg}}</p>
    </form>
</template>

<script>
import {mapState, mapStores} from "pinia";
import {API} from "@/util/API";
import { useAuthStore } from "@/stores/authStore";
import router from "../router";
export default {
    name: "EditAccount",
    computed: {
        ...mapState(useAuthStore, ['account']),
        ...mapStores(useAuthStore),
        updatedAccount() {
            return {
                upFirstname: this.account.firstname,
                upPassword:'',
            }
        },
    },
    data() {
        return {
            alertMsg:'', //message at the bottom of the form where you change account firstname and password
            deletionConfirmation: false,
            delAlertMsg:'', //message in the 'dager zone'
        }
    },
    methods: {
        saveAccountSettings(){ //passord
            const id = this.account.id;

            let newPassword = null
            let newFirstName = null;

            //checks if username and password have been changed
            if(this.updatedAccount.upPassword.length!==0) {
                newPassword = this.updatedAccount.upPassword;
            }
            //firstName won't be changed if empty
            if(this.updatedAccount.upFirstname!==''){
                newFirstName = this.updatedAccount.upFirstname;
            }

            API.updateAccount(
                id,{
                    firstname:newFirstName,
                    password:newPassword,
                }
            ).then((savedAccount)=>{
                useAuthStore().setAccount(savedAccount);
                this.alertMsg = "Konto oppdatert."
            }).catch(()=> {
                this.alertMsg = "‼️Det oppsto en feil.‼️ "
            })
        },
        deleteAccount(){
            if(this.deletionConfirmation===false){
                this.delAlertMsg = "‼️Du må bekrefte at du vil slette konto ved å huke av boksen‼️"
            }
            else {
                const id = this.account.id;
                API.deleteAccount(
                    id
                ).then(()=>{
                    router.push('/login')
                }).catch(()=> {
                    this.delAlertMsg = "‼️Det oppsto en feil ved sletting av bruker‼️"
                })
            }
        },
        logOut(){
            useAuthStore().logout();
            router.push('/login')
        },
    }
 }
</script>

<style scoped lang="scss">
#dangerZone {
    color: darkred;
}

#logout{
    background-color: base.$light-grey;
    color: black;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

input[type="checkbox"] {
    width: 2.5em;
    height: 2.5em;
}

.submitBtn {
    width: 80%;
    max-width: 220px;


}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--General--*/
form {
    background-color: base.$light-grey;
    color: black;
    align-content: end;
    padding: 2em;
    margin-top: .5em;
    margin-bottom: 2em;
    width: 90%;

}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: .5em;
}

button {
    color: black;
    border: 1px solid black;
    margin: 1em;
    padding:.9em;
    font-weight: bold;

}
.redBtn {
    background-color: base.$red;
    border:none;
    color:black;
    width: 10em;
}

.redBtn:hover {
    background-color: base.$red-hover;
}

.darkRedBtn {
    background-color: darkred;
    border:none;
    color:white;
}
.darkRedBtn:hover {
    background-color: base.$darkred-hover;
}

.greenBtn{
    background-color: base.$green;
    border:none;
    color:white;
}
.greenBtn:hover{
    background-color: base.$green-hover;
}

.infoText {
    background-color: white;
    padding: .5em;
    margin: .4em;
}

#alert {
     display: flex;
     width:100%;
     justify-content: center;
     font-weight: bold;
 }
</style>