<template>
<div id ="item">
    <div>
        <img :src="getImage" :alt="'bilde av ' + this.fridgeItem.item.name">
    </div>

    <div id="itemInfo">
        <p id="fridgeItemName">{{ this.fridgeItem.item.name }} {{
                this.fridgeItem.amount.quantity
            }}{{ this.fridgeItem.item.amount.unit }}</p>
        <p class="expText" :style="{color:expirationTextColor}">{{expirationText}}</p>
    </div>
    <div id = "appleBtn" @click="appleBtnPressed">
      <Icon  icon="game-icons:apple-core" :color="iconColor" :style="{ fontSize: iconSize }" />
    </div>

</div>
</template>

<script>
import {Icon} from "@iconify/vue";

export default {
    name: "FridgeItem",
    components: {Icon},
    emits: ['appleBtnPressed'],
    computed: {
        iconColor(){
            return 'black';
        },
        iconSize() {
            return '3rem'
        },
        expirationTextColor(){
            if(this.expirationText.split("Utgikk").length===2){
                return '#EE6D6D'; //rød
            }
            else{
                return '#737573'; //grå
            }
        },
        getImage(){
            return this.fridgeItem.item.image_url;

        },
        expirationText() {
            const expirationDays = this.getDateDifference();
            const dateString = this.formatDate();

            if(expirationDays<0) {
                return "Utgikk " + dateString
            }

            switch (expirationDays){
                case expirationDays < -1:
                    return "Utgikk " + dateString
                case 0:
                    return "Utgår i dag"
                case -0:
                    return "Utgår i dag"
                case 1:
                    return "Utgår i morgen"
                case 2:
                    return "Utgår om to dager"
                case 3:
                    return "Utgår om tre dager"
                default:
                    return "Utgår " + dateString
            }
        }
    },
    props: {
        fridgeItem: {
            type: Object,
            required:false,
        },
        itemName: String,
        expiration: String,
        image: String,
        quantity: String,
        quantityUnit: String,
    },
    methods: {
        getDateDifference(){ //returns the difference in days between the expiration date and today
            let date = this.fridgeItem.exp_date;
            const epDate = new Date(date);

            const parsedDate = Date.parse(epDate)
            const today = new Date();

            const ms = parsedDate-today;
            const numOfDays = Math.ceil(ms/(86400000))

            return numOfDays;
        },
      appleBtnPressed(){
          this.$emit('appleBtnPressed', this.fridgeItem);
      },
        formatDate(){ //formats expiration date as dd.mm.yyyy
            let fullExpirationDate = new Date(this.fridgeItem.exp_date);
            let day = fullExpirationDate.getDate().toString().padStart(2,'0');
            let month= (fullExpirationDate.getMonth()+1).toString().padStart(2,'0');
            let year= fullExpirationDate.getFullYear().toString();
            return day + "." + month + "." + year;
        }

    }
}
</script>

<style scoped lang="scss">
#item {
    background-color: base.$white;
    color: black;
    padding: 1em 2em;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px base.$grey;
}

#item:last-child {
    border-bottom: none;
}

#fridgeItemName {
    font-weight: normal;
    font-size: 1.2em;
}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: base.$light-grey;
    margin-right:.6em;
    object-fit: cover;

}

#itemInfo{
    width: 100%;
}

#appleBtn:hover {
    cursor:pointer;
}

</style>
