<template>
    <div v-if="showSearch" id="wrapper">
        <h3>Søk etter vare</h3>
        <div id="searchBoxDiv">
            <input type="text" id="searchBox" v-model="itemSearch">
            <button id="search-button" @click="search">Søk</button>
        </div>

        <p>Resultater: ({{searchResult.length}})</p>

        <select v-model="selectedItem" name="searchR" id="searchR">
            <option v-for ="item in searchResult" :value="item" :key="item.ean">{{item.name}} ({{item.amount.quantity}}{{item.amount.unit}})</option>
        </select>
        <p>Antall varer: <span v-if="numOfItemsToAdd>1 && selectedItem!=null">(totalt: {{this.totalNumOfItems}} {{selectedItem.amount.unit}})</span></p>
        <input id="items-input" type="number" min='1' v-model="numOfItemsToAdd"><br>

        <button v-if="addsToFridge" id = "addToFridgeBtn" @click="addToFridge">Legg i kjøleskap</button>
        <button v-else id = "addToFridgeBtn" @click="addToShoppingList">Legg i handleliste</button>


    </div>
</template>

<script>
import {API} from "@/util/API";
import { useAuthStore } from "@/stores/authStore.js";


export default {
    name: "itemSearch",
    props: {
        addsToFridge: {
            type: Boolean,
            default: false
        }
    },
    data(){
        return{
            itemSearch:'',
            searchResult: [],
            selectedItem: null,
            showSearch:true,
            numOfItemsToAdd:1,
        }
    },
    computed:{
        totalNumOfItems(){
            return this.selectedItem.amount.quantity*this.numOfItemsToAdd
        }
    },
    methods: {
        async search() {
            this.searchResult = await API.searchItems(this.itemSearch);
            this.selectedItem = this.searchResult[0];

        },
        addToFridge(){
            const num = this.numOfItemsToAdd;
            API.addToFridge(
                {
                    "itemId": Number(this.selectedItem.id),
                    "amount":
                        {
                            "quantity": this.selectedItem.amount.quantity*num,
                            "unit": this.selectedItem.amount.unit}}
            ).then((_) => {
                this.$emit('itemsAdded',this.selectedItem)
            }).catch((_)=> console.log("No items were added to the fridge"))
        },
        async addToShoppingList() {
            const num = this.numOfItemsToAdd;
            const authStore = useAuthStore();

            if (authStore.profile.restricted) {
                await API.addSuggestion(this.selectedItem.id, num)
                    .then((ingredient) => {this.$emit('itemsAdded', ingredient)})
                    .catch(err => console.log(err));
            } else {
                await API.addItemToShoppingList(this.selectedItem.id, num)
                    .then((ingredient) => {
                        console.log(ingredient)
                        this.$emit('itemsAdded', ingredient)
                    }).catch(err => console.log(err));
            }
        }
    }
}
</script>

<style scoped lang = "scss">
select {
    width:100%;
}

#wrapper{
    background-color: base.$white;
    padding: 2em;
   border: 3px dashed base.$light-green;


}

#items-input {
    margin-bottom: 1em;
}

#search-button {
    margin-left: 0.5em;
}

#searchBoxDiv {
    display:flex;
    width:100%;
}

input[type="text"],
input[type="select"],
input[type="number"],
select{
    padding: .4em;
    margin: .1em;
}

button {
    padding: .5em;
    background-color: base.$light-green;
    border-radius: 5%;
    background-color: base.$green;
    color: white;
    font-weight: bold;
    border: 1px solid base.$green;
    height: 30px;

}

button:hover {
    border: 1px solid base.$grey;
    background-color: base.$light-green;
    cursor: pointer;


}

addToFridgeBtn {
    width: 100%;
}

span {
    qfont-size: 1.3em;
}
</style>

