<template>
    <div>
        <nav>
            <ul :aria-label = "'Navigation links'">
                <li>
                    <RouterLink :to="'/'" :aria-label="'link to home page'">
                      <Icon icon="material-symbols:home-outline-rounded" :color="iconColor" :style="{ fontSize: iconSize }" />
                    </RouterLink>
                </li>
                <li>
                    <RouterLink :to="'/myFridge'" :aria-label="'link to fridge page'">
                      <Icon icon="mingcute:fridge-line" :color="iconColor" :style="{ fontSize: iconSize }"/>
                    </RouterLink>
                 </li>
                <li>
                    <RouterLink to="/weekmenu" aria-label="link to week menu">
                        <Icon icon="ic:baseline-calendar-month" :color="iconColor" :style="{ fontSize: iconSize }"/>
                    </RouterLink>
                </li>
                <li>
                    <RouterLink :to="'/shoppingList'" :aria-label="'link to shopping list'">
                      <Icon icon="material-symbols:event-list-outline" :color="iconColor" :style="{ fontSize: iconSize }" />
                    </RouterLink>
                </li>
                <li>
                    <RouterLink :to="'/profileSettings'" :aria-label="'link to settings page'">
                      <Icon id="settingsIcon" icon="mdi:cog" :color="iconColor" :style="{ fontSize: iconSize }"/>
                    </RouterLink>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
import { Icon } from '@iconify/vue';

export default {
    name: "Navbar",
  components: {Icon},
  computed: {
    iconColor() {
      return '#ffffff';
    },
    iconSize() {
      return `32px`;
    },
    logoSize() {
      return '52px';
    }
  }
}
</script>

<style scoped lang="scss">

#logoContainer {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
#logoContainer img{
    width:70%;
}

nav {
    z-index: 999;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    background-color: base.$green;
    margin:0;
    padding:5px;
    align-items: center;

}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: .4em;
    margin-right: 1em;
    margin-left: 1em;



}

@media only screen and (min-width: base.$desktop-min){
    nav {
        top:0;
        left:0;
        bottom:auto;
    }
}

li{
    text-align: center;
}
</style>