<script>
import { Icon } from '@iconify/vue';
import router from "@/router";

export default {
    props: ['recipe'],
    components: {
        Icon
    },
    methods: {
        redirectToRecipe() {
            router.push("/recipe/"+this.recipe.recipe.id);
        }
    }
}
</script>

<template>
    <h3 class="recipe-day">{{recipe.day}}</h3>

    <div class="recipe-card" @click="redirectToRecipe">
        <div class="recipe-details">
            <div class="title">
                <h2>{{ recipe.recipe.title }}</h2>
<!--                <p>{{ recipe.recipe.description }}</p>-->
            </div>
            <div class="time">
                <Icon icon="mdi:timer" :style="{ fontSize: '2rem' }" />
                {{ recipe.recipe.time }}
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import "../style.scss";
.recipe-day {
    /*
    text-align: center;
    */
    margin-bottom: 5px;
}
.recipe-card {
    align-content: center;
    cursor: pointer;
    height: 5rem;
    max-width: 30rem;
    gap: .5rem;
    //margin-inline: .4rem;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 2px 2px $green;
    transition: all ease 150ms;


    &:hover {
        box-shadow: 4px 4px $green;
    }

    img {
        object-fit: cover;
        height: 10rem;
    }
}

.recipe-details {
    margin-top: .4em;
    margin-inline: 1em;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .title {
        font-size: 12px;
        max-width: 260px;
        p {        
            overflow: hidden;
            white-space: nowrap;
            text-overflow: "...";
            max-width: 20em;
        }
    }
    .time {
        font-size: 14px;
        width: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            width: 100%;
        }
    }
}
</style>