<template>
    <div class="content">
        <div class="item">
            <div class="check">
                <input v-model="isChecked" @click="this.updateChecked()" class="checkbox" type="checkbox">
            </div>

            <p> {{ this.index }}</p>

            <div class="item-label">
                <label for="checkbox" class="checkbox-label">{{ this.amount }}x {{ this.itemName }}</label>
            </div>
        </div>
     
        <div class="delete">
            <img @click="deleteItem" src="./icons/trash.svg" alt="delete">
        </div>
    </div>
</template>

<script>
    let uuid = 0;

    export default {
        beforeCreate() {
            this.uuid = uuid.toString();
            console.log(this.itemName + " + " + this.uuid)

            uuid += 1;
        },


        name: "ShoppingListItem",
        props: {
            itemName: {
                type: String,
                default: "",
                required: true
            },
            amount: {
                type: Number,
                default: 1,
                required: false
            },
            propValue: {
                type: Boolean,
                default: false,
                required: false
            },
            index: {
                type: Number,
                required: true

            }
        },
        data() {
            return {
                isChecked: this.propValue,
                uuid: ""
            }
        },
        methods: {
            updateChecked() {
                this.$emit('updateItem', {id: this.uuid, isChecked: !this.isChecked})
            }
        }


    }
</script>

<style lang="scss" scoped>

    .content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        background-color: white;
        padding: 5px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        //border-bottom: base.$grey solid 1px;

    }

    .content:not(:first-child) {
        border-radius: 0px;
    }

    .content:last-child {
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .content:not(:last-child)::after {
        content: '';
        height: 1px; /* this works like a border-width */
        width: 70%; /* percentage of border shown */
        background: base.$grey; /* the color of border */
        position: absolute;
        bottom: 0;
        margin: 0 auto; left: 0; right: 0; /* horizontal centering */
    }

    .item {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #ccc;
        
    }

    input[type="checkbox"]:checked {
        background-color: base.$light-green;
    }

    input[type="checkbox"]:checked:after {
        content: "\2713"; /* Unicode code for checkmark symbol */
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-align: center;
        line-height: 35px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    label {
        font-size: 20px;
    }

    img {
        width: 30px;
        height: 30px;
        padding: 5px;

        max-height: 100%;
        max-width: 100%;
        
    
    }

    .check {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delete {
        align-self: flex-end;
    }

</style>