@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

button:hover {
  cursor: pointer;
}

main {
  margin-bottom: 4em;
  margin-top: 0;

}

@media (min-width: 1024px) {
  main {

    margin-top: 4em;
    margin-bottom: 0;
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
  }

  #app {
    display: grid;
    padding: 2rem 2rem;

    
  }
}
