<script setup>
  import { RouterView } from 'vue-router'
  import Navbar from "@/components/Navbar.vue";
  import { useAuthStore } from "@/stores/authStore.js";
  import router from "@/router";
</script>

<template>
  <Navbar v-if="$route.name !== 'login' && $route.name !== 'selectProfile' && $route.name !== 'registerAccount'"/>
  <RouterView />
</template>

<style lang=scss scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

body {
    padding-bottom: 2em;
}
nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: base.$desktop-min) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
