/*APP COLORS*/
$green: #00663C;
$light-green: hsla(160, 100%, 37%, 1);
$white:#FFFFFF;
$grey:#D9D9D9;
$light-grey: #F3F4F9;
$red:#EE6D6D;
$darkred: darkred;

$red-hover: darken( $red, 5% );
$green-hover: darken( $green, 8% );
$light-green-hover: darken( $light-green, 10% );
$darkred-hover: darken(darkred, 10%);
$grey-hover: darken( $grey, 10%);
$indigo: #2c3e50;

$desktop-min: 1024px;
$phone-min : 360px;

.add-button {
    border-radius: 50%;
    border-style: none;
    width: 70px;
    height: 70px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-green;
    color: white;
    transition: .25s ease-in-out;
    line-height: 1;
    padding: 0;
    cursor: pointer;
}

.add-button:hover {
    background-color: $green;

}

.plus-sign:before {
  content: '\FF0B';
}
.plus-sign {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  height: 100%;
}

form p, form input, form h1, form h2, form h3, form span, form label {
  color: $indigo;
}

